[{{USERNAME}}]
user = {{USERNAME}}
group = {{USERNAME}}

listen = {{FPM_SOCK_DIR}}/php8.3-fpm-{{USERNAME}}.sock
listen.owner = {{WEB_GROUP}}
listen.group = {{WEB_GROUP}}
listen.mode = 0660

pm = ondemand
pm.max_children = 4
pm.process_idle_timeout = 15s
pm.max_requests = 500
php_admin_value[open_basedir] = "{{HOME_DIR}}/workshops:{{HOME_DIR}}/exam:{{HOME_DIR}}/assessment:/tmp"
php_admin_value[session.save_path] = "{{HOME_DIR}}/.sessions"
php_admin_value[upload_max_filesize] = 20M
php_admin_value[post_max_size] = 20M
php_admin_value[memory_limit] = 128M
php_admin_value[max_execution_time] = 30
php_admin_value[display_errors] = Off
php_admin_value[log_errors] = On
php_admin_value[error_log] = "{{HOME_DIR}}/.sessions/php-error.log"
catch_workers_output = yes
decorate_workers_output = no
